@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Estilização do Cabeçalho */

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(218, 229, 232);
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo {
    height: 13vh;
    margin-right: auto;
}

.menu-navegacao {
    display: flex;
}

.menu-navegacao>a {
    padding: 100% 20px 100% 20px;
    margin: auto;
    font-size: 1.3rem;
    text-decoration: none;
    color: #2E3237;
}

.menu-navegacao>a:hover {
    background-color: black;
    color: white;
}

.login {
    margin-left: auto;
    margin-right: 12px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    box-shadow: 3px 3px 3px 3px #000000a0;
}

.login:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* Estilização da main  */

main {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 80vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    flex-wrap: wrap;
    row-gap: 50px;
}

.chamada {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.chamada img {
    height: 90%;
    box-shadow: 5px 5px 5px 5px #000000a0;
}

.texto-chamada {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2E3237;
}

.texto-chamada h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(62, 62, 62, 0.5);
}

.texto-chamada p {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(62, 62, 62, 0.5);
}

.infos {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    background-color: rgba(218, 229, 232);

}

.texto-infos {
    display: flex;
    row-gap: 20px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos img {
    height: 90%;
    box-shadow: 5px 5px 5px 5px #000000a0;
}

.modas {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.modas img {
    width: 300px;
    height: 300px;
}

figure {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

figcaption {
    position: absolute;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: rgb(255, 255, 255, 0.532);
}

figcaption:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.532);
}

.orcamento {
    display: flex;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    background-color: rgba(218, 229, 232);
}

.texto-orcamento {
    display: flex;
    row-gap: 20px;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orcamento img {
    height: 90%;
    box-shadow: 5px 5px 5px 5px #000000a0;
}

.orcamento button {
    width: 150px;
    height: 75px;
    font-size: 1.3rem;
    background-color: white;
    color: #2E3237;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px #000000a0;
    cursor: pointer;
}

.orcamento button:hover {
    border: 2px white solid;
    background-color: #2E3237;
    color: white;
}

.redes-sociais {
    display: flex;
    position: fixed;
    width: 100px;
    height: 100px;
    flex-direction: column;
    z-index: 1000;
    bottom: 15%;
    right: 0;
}

.redes-sociais img {
    max-width: 30%;
    box-shadow: 1px 1px 1px 1px rgb(194, 164, 224);
}

/* Estilização do Footer */

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(218, 229, 232);
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

/* Responsividade */

@media screen and (max-width: 450px) {
    body {
        max-width: 100vw;
    }

    header {
        flex-direction: column;
        height: auto;
        max-width: 100vw;
    }

    .menu-navegacao {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .menu-navegacao>a {
        padding: 4px;
    }

    .logo {
        margin: -5px auto -10px auto;
    }

    .login {
        margin: 3px auto 15px auto;
        width: 100px;
        height: 25px;
    }
    
    main {
        flex-direction: column;
        max-width: 100vw;
    }
    
    img {
        max-height: 25vh;
        max-width: 75vw;
    }
    
    div,
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px auto 20px auto;
    }
    
    footer {
        max-width: 100vw;
        text-align: center;
        flex-wrap: wrap;
    }

    .redes-sociais {
        left: 90vw;
        opacity: 80%;
    }
    
    .chamada {
        margin-bottom: -55px;
    }

    .texto-chamada h1 {
        font-size: 3rem;
    }

    .infos {
        height: 90vh;
    }

    .texto-infos {
        font-size: 1.2rem;
        max-width: 65%;
        margin-top: -20px;
    }

    .modas {
        height: 90vh;
    }

    .orcamento {
        height: 400px;
        padding-top: 20px;
    }

    

}