@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f3f7;
}

/* Estilização do Cabeçalho */

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(218, 229, 232);
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo {
    height: 13vh;
    margin-right: auto;
}

.menu-navegacao {
    display: flex;
}

.menu-navegacao>a {
    padding: 100% 10px 100% 10px;
    margin: auto;
    font-size: 1.3rem;
    text-decoration: none;
    color: #2E3237;
}

.menu-navegacao>a:hover {
    background-color: black;
    color: white;
}

.login {
    margin-left: auto;
    margin-right: 12px;
    width: 80px;
}

.login:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* Estilização da main  */

main {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 80vh;
    padding-top: 5vh;
    padding-bottom: 5vh;  
}

.bloco1 {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    max-width: 100%;

}
.bloco2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
}

.bloco2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 50%;
}

.bloco2 img {
    min-width: 300px;
    min-height: 250px;
}

.redes-sociais {
    display: flex;
    position: fixed;
    width: 60px;
    height: 60px;
    flex-direction: column;
    z-index: 1000;
    bottom: 12%;
    right: 0;

}

.redes-sociais img {
    max-width: 30%;
}


/* Estilização do Footer */

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgba(218, 229, 232);
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

/* footer a {
    margin: 1%;
} */

footer img {
    max-width: 5vh;
}

/* Responsividade */

@media screen and (max-width: 450px) {

    header,
    .menu-navegacao {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: auto;
        padding-bottom: 10px;
    }

    .menu-navegacao > a {
        padding: 10px;
    }

    .login,
    .logo {
        margin: auto;
    }
}